.account-menu
 	{
 		text-decoration: none; 
 		background-color: #2c3e50; 
 		font-weight:700;
 		color:white;
 		margin-left:5%;
 		margin-top:17%;
 		position:fixed;
 		width:21%;
 		height:25%;
 		border-radius: 7px; 
 		float:left;

 	}


 	ul
 	{
 		list-style-type: none; 

 	}

 	.menu-link{
 		color:white;
 		font-weight:700;
 		font-size:1.3em;



 	}

 	.menu-list-item
 	{
 		margin-left:15%;
 		margin-top:3%;
 	}

 	.menu-link:hover
 	{
 		text-decoration: none;

 	}

 	#on{

  text-decoration:underline;
  color:seagreen;
}

 	