
#app-img
{
	margin-left:40%;
	margin-top:5%;


}


#app-title
{
		margin-top:13%;


}


#app-desc
{
	width: 26%; 
	margin-left:36%;
	margin-top: 5%; 


}
#app-price
{
	width: 26%; 
	margin-left:47%;
	font-weight: 300; 

}


#request-button
{	
	width:30%;
	margin-left:37%;
	margin-top: 50em; 



}