/* ---------- Variables ---------- */
/* ---------- Web Fonts ---------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

/* ---------- Mixins ---------- */
/* ---------- Placeholder selectors ---------- */
.item-list::after, .item__interactions::after, .summary::after {
  content: "";
  display: table;
  clear: both;
}


#no-apps
{
  float:left; 
  margin-top:22.7%;
  margin-left:38%;
}



/* ---------- Elements ---------- */

#first 
{
  margin-top:13%;
}
.app-description {
  font: 100%/1.5 Source Sans Pro, sans-serif;
 
  font-size: 1.5em; 
  float:left;
  margin-left:30%;
  margin-top: 8%; 
}






ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------- Shared ---------- */
.item,
.modal,
.steps,
 {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.item__interactions a,
.button {
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.empty-hint a,

.empty-hint a:focus, .empty-hint a:hover,
.info__content a:focus,
.info__content a:hover {
  color: #e97a35;
  border-bottom-color: #e97a35;
}
.empty-hint a:active,
.info__content a:active {
  position: relative;
  top: 1px;
}

/* ---------- Items ---------- */

.item-list.delayed {
  -webkit-transition: max-height 0.4s ease-in-out;
  -moz-transition: max-height 0.4s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
}
@media (min-width: 40em) {
  .item-list {
    width: 35em;
  }
}


.empty-hint p {
  margin: 1.5em;
}
@media (min-width: 40em) {
  .empty-hint p {
    padding: 1em;
  }
}
.empty-hint a {
  font-weight: bold;
}

@media (min-width: 40em) {
  .item__information {
    display: table;
  }
}

.item__image {
  padding: 1.5em;
  border-bottom: 1px solid rgba(221, 221, 221, 0.35);
  vertical-align: middle;
}
.item__image img {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
}
.item__image img:hover, .item__image img:focus {
  -webkit-animation: tilt 0.25s ease-in-out;
  -moz-animation: tilt 0.25s ease-in-out;
  -ms-animation: tilt 0.25s ease-in-out;
  animation: tilt 0.25s ease-in-out;
}
@media (min-width: 40em) {
  .item__image {
    display: table-cell;
    width: 7em;
    padding: 0;
    border-right: 1px solid rgba(221, 221, 221, 0.35);
    border-bottom: 0;
  }
}

.item__body {
  padding: 1.5em 1.5em 0.5em;
}
@media (min-width: 40em) {
  .item__body {
    display: table-cell;
    width: 23em;
    padding: 0.75em 1em;
    border-right: 1px solid rgba(221, 221, 221, 0.35);
  }
}

.item__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

.item__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.item__price {
  padding: 0 1.5em 1.5em;
  color: #lightblue;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}
@media (min-width: 40em) {
  .item__price {
    display: table-cell;
    width: 5em;
    padding: 0;
    text-align: center;
  }
}

.item__interactions {
  display: block;
  width: 100%;
  padding: 1.5em;
  color: #666;
  font-size: 0.8em;
  border-top: 1px solid rgba(221, 221, 221, 0.35);
}
.item__interactions span {
  margin-left: 0.5em;
}






/* ---------- Keyframes ---------- */

