/* ---------- Variables ---------- */
/* ---------- Web Fonts ---------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

/* ---------- Mixins ---------- */
/* ---------- Placeholder selectors ---------- */
.item-list::after, .item__interactions::after, .summary::after {
  content: "";
  display: table;
  clear: both;
}

.checkout-button
{
  margin-left:37%;
}



/* ---------- Elements ---------- */
.app-description {
  margin-top:3em;
  font: 100%/1.5 Source Sans Pro, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.5em; 
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------- Shared ---------- */
.item,
.modal,
.steps,
 {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.item__interactions a,
.button {
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.empty-hint a,

.empty-hint a:focus, .empty-hint a:hover,
.info__content a:focus,
.info__content a:hover {
  color: #e97a35;
  border-bottom-color: #e97a35;
}
.empty-hint a:active,
.info__content a:active {
  position: relative;
  top: 1px;
}

/* ---------- Items ---------- */
.item-list {
  width: 80%;
  margin: 0 auto 1.5em;
  margin-top:5%;
}
.item-list.delayed {
  -webkit-transition: max-height 0.4s ease-in-out;
  -moz-transition: max-height 0.4s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
}
@media (min-width: 40em) {
  .item-list {
    width: 35em;
  }
}


.item-list.appearing .item {
  -webkit-transform: translateX(35em);
  -moz-transform: translateX(35em);
  -ms-transform: translateX(35em);
  -o-transform: translateX(35em);
  transform: translateX(35em);
  opacity: 0;
}
.item-list.delayed .item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.item-list.delayed .item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.item-list.delayed .item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.item--disappearing {
  -webkit-transform: translateX(35em);
  -moz-transform: translateX(35em);
  -ms-transform: translateX(35em);
  -o-transform: translateX(35em);
  transform: translateX(35em);
  opacity: 0;
}

.empty-hint {
  -webkit-transition-property: max-height, opacity;
  -moz-transition-property: max-height, opacity;
  -o-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-height: 0;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
.empty-hint.is-visible {
  max-height: 20em;
  opacity: 1;
}
.empty-hint p {
  margin: 1.5em;
}
@media (min-width: 40em) {
  .empty-hint p {
    padding: 1em;
  }
}
.empty-hint a {
  font-weight: bold;
}

@media (min-width: 40em) {
  .item__information {
    display: table;
  }
}

.item__image {
  padding: 1.5em;
  border-bottom: 1px solid rgba(221, 221, 221, 0.35);
  vertical-align: middle;
}
.item__image img {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
}
.item__image img:hover, .item__image img:focus {
  -webkit-animation: tilt 0.25s ease-in-out;
  -moz-animation: tilt 0.25s ease-in-out;
  -ms-animation: tilt 0.25s ease-in-out;
  animation: tilt 0.25s ease-in-out;
}
@media (min-width: 40em) {
  .item__image {
    display: table-cell;
    width: 7em;
    padding: 0;
    border-right: 1px solid rgba(221, 221, 221, 0.35);
    border-bottom: 0;
  }
}

.item__body {
  padding: 1.5em 1.5em 0.5em;
}
@media (min-width: 40em) {
  .item__body {
    display: table-cell;
    width: 23em;
    padding: 0.75em 1em;
    border-right: 1px solid rgba(221, 221, 221, 0.35);
  }
}

.item__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

.item__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.item__price {
  padding: 0 1.5em 1.5em;
  color: #lightblue;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}
@media (min-width: 40em) {
  .item__price {
    display: table-cell;
    width: 5em;
    padding: 0;
    text-align: center;
    background-color: #fcfcfc;
  }
}

.item__interactions {
  display: block;
  width: 100%;
  padding: 1.5em;
  color: #666;
  font-size: 0.8em;
  border-top: 1px solid rgba(221, 221, 221, 0.35);
}
.item__interactions span {
  margin-left: 0.5em;
}

#credit
{
   -webkit-box-sizing:none;
  -moz-box-sizing:none;
  box-sizing:none;
}




/* ---------- Keyframes ---------- */

