
.app-price
{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size:1.2em;
	color:grey;
   	text-align: center; 




}


img{

    width: 100px;
    height: 100px;
    border-radius: 10px; 
 
}

#apps-head
{
		margin-top:2em;

}

#apps
{
	color:black;

}

.app
{
		margin-left:12%;

}

.apps
{
		margin-top:10%;


}

.app-desc
{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size:.8em;
	margin-bottom: 20%; 

	color:grey;
		height:5em;

}



.first
{	

	margin-top: 20%;
	text-align: center; 
}

.first h1{
	font-size:5em;
}