
.login
{
	margin-left:35%;
}

#login-form
{
	margin-top:2em;
}
#login-button
{
	width:30%;
	color: #ffffff;
}

.register-link
{
		margin-left:42%;

}

#forgot-password
{	
	margin-left:39%;
	margin-top:2%;


}
#error-message
{
	color:tomato;
	margin-left:30%;
	font-size:1.2em;
	height:2%;
}