	
#accept-text{
	margin-left:18%;
	margin-top: .5em; 
}

#decline-button{
	margin-left:1%;
}

#match-info
{
	margin-left:33%;
}

#first
{
	margin-left:35%;
	margin-top:20%;

}
.match-user-info
{
	margin-left:15%;
}

.buttons 
{
	margin-left:1%;
}

#search-link{
	margin-left:10%;
}