.first
{

	margin-top:10%;
	margin-left:30%;

	font-weight: 1000;
}

#message 
{
	width:50%;
	margin-left:25%;

}

#home-link
{
	text-decoration: none; 
		margin-left:45%;

}

#home-link:hover
{
	color:grey;
}